## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
.idea

# sbt specific
project/boot
lib_managed/*
project/build/target
project/build/lib_managed
project/build/src_managed
project/plugins/lib_managed
project/plugins/target
project/plugins/src_managed
project/plugins/project
project/target/*

core/lib_managed
core/target
pubsub/lib_managed
pubsub/target

#python specific
*.pyc
*.pyo

#project specific
/target
